<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Error</title>
<link rel="stylesheet" href="/css/style1.css">
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="select-none bg-black flex grid grid-cols-1 text-center justify-center p-10 text-white">
	<h1 class="font-semibold block text-4xl mb-5">This page does not exist. Have a good day</h1>
	<div class="shape3"></div>
	<div class="shape4"></div>
	<div>
		<a class="absolute orange underline top-12 right-10" href="/logout" th:href="@{/home}">Home</a>
	</div>
</body>
</html>