<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Project Manager Dashboard</title>
<link rel="stylesheet" href="/css/style1.css">
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="select-none bg-black flex grid grid-cols-1 text-center justify-center p-10 text-white">
	<div class="shape5"></div>
	<div class="shape6"></div>
	<h1 class="font-semibold block text-4xl mb-5" >Open Tables</h1>
	<a class="absolute orange underline top-12 right-10" th:href="@{/home}">Home</a>
	<secion th:if="${mesasWithout}" class="flex justify-center my-8">
	<table class="bg-gray-300 bg-opacity-30 rounded-2xl">
		<tr>
			<th class="p-3 border-b border-r" >Guest Name</th>
			<th class="p-3 border-b border-r" > # Guests</th>
			<th class="p-3 border-b border-r" > Arrived at</th>
			<th class="p-3 border-b" > Actions</th>
		</tr>
		<tr th:each="mesa : ${mesasWithout}">
			<td class="p-3"  th:text="${mesa.guestName}"></td>
			<td class="p-3"  th:text="${mesa.guests}"></td>
			<td class="p-3"  th:text="${mesa.createdAt}"></td>
			<td class="p-3"><a class="text-blue-500 h_orange" th:href="@{/tables/{id}/pick(id=${mesa.id})}" th:text="'PickUp Table'"></a></td>
		</tr>
	</table>
	</secion>
	<div th:unless="${mesasWithout}">
		There are still no tables released.
	</div>
</body>
</html>